* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 1200px;
    height: 40px;
    display: flex ;
    justify-content: left;
    align-items: center;
    /* margin: 0 auto; */



}

 .header ul {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
    list-style: none;
 }

 .header ul li {
    background-color: white;
    font-size: 30px;

 }

 .login {
    width: 100px;
    background-color: blue;
    text-align: center;
 }




.footer {
    width: 1400px;
    height: 400px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    padding: 0;
}

.footer {
    max-width: 100%;
    background-color: #1e293b;
    border: 2px solid black;
  }
  
  .info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
  }
  
  .info-bottom {
    text-align: left;
  }
  
  .first-letter {
    color: purple;
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
  }
  
  .info-bottom strong {
    color: white;
    font-size: 40px;
  }
  
  .info-bottom p {
    color: #cbd5e1;
    margin: 5px 0 0 0;
    width: 420px;
  }
  
  .categoris {
    width: 700px;
    display: flex;
    justify-content: space-between;
  }
  
  .categori {
    margin-top: 10px;
    text-align: left;
  }
  
  .categori ul {
    text-align: left;
    padding: 0;
    list-style: none;

  }
  
  .categori a {
    color: #cbd5e1;

  }
  
  .text {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
  
  .categori ul li a:hover {
    text-decoration: underline;
  }
  
  .images {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .icons,
  .facebok,
  .microsoft {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
  }
  
  .microsoft {
    display: flex;
    justify-content: center;
    align-items: center;
  }
